@font-face {
    font-family: "DM Serif Display";
    src: url('/refa/assets/DMSerifDisplay-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Quicksand";
    src: url('/refa/assets/Quicksand[wght].ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Quicksand";
    src: url('/refa/assets/Quicksand[wght].ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

body {
  background: #09161B;
  color: white;
  font-family: "Quicksand";
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}

h1 {
  font-family: "DM Serif Display";
  font-size: 26px;
  color: #d4c263;
  margin-top: 1em;
  margin-left: 4em;
  margin-bottom: 0.5em;
  font-weight: 400;
}

.refabold {
  font-weight: 700;
}

.gelb {
  color: #d4c263;
}

.primary-grey {
  color: #5b6e82;
}

#header {
  display: flex;
}

#headerlinks {
  display: flex;
  position: absolute;
  padding-right: 10em;
  padding-top: 3em;
  right: 0;
}

.headerlink {
  margin-left: 0.75em;
  margin-right: 0.75em;
}

hr {
  margin: 0;
}

#filterbar {
  display: flex;
  flex-direction: row;
  border-top-color: #d4c263;
  border-top-style: solid;
  border-top-width: 0.5px;
  padding-top: 1.7em;
  padding-bottom: 1.7em;
  border-bottom-color: #5b6e82;
  border-bottom-style: solid;
  border-bottom-width: 2.5px;
}
