@font-face {
    font-family: "DM Serif Display";
    src: url('/refa/assets/DMSerifDisplay-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Quicksand";
    src: url('/refa/assets/Quicksand[wght].ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Quicksand";
    src: url('/refa/assets/Quicksand[wght].ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

body {
  background: #09161B;
  color: white;
  font-family: "Quicksand";
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}

h1 {
  font-family: "DM Serif Display";
  font-size: 26px;
  color: #d4c263;
  margin-top: 1em;
  margin-left: 4em;
  margin-bottom: 0.5em;
  font-weight: 400;
}

.refabold {
  font-weight: 700;
}

.gelb {
  color: #d4c263;
}

.primary-grey {
  color: #5b6e82;
}

#header {
  display: flex;
}

#headerlinks {
  display: flex;
  position: absolute;
  padding-right: 10em;
  padding-top: 3em;
  right: 0;
}

.headerlink {
  margin-left: 0.75em;
  margin-right: 0.75em;
}

hr {
  margin: 0;
}

#filterbar {
  display: grid;
  grid-template-columns: 1em 20em 20em 20em 20em 2em 22em 5em;
  gap: 1em;
  grid-auto-rows: 1em auto;
  flex-direction: row;
  border-top-color: #d4c263;
  border-top-style: solid;
  border-top-width: 0.5px;
  padding-top: 1.7em;
  padding-bottom: 1.7em;
  border-bottom-color: #5b6e82;
  border-bottom-style: solid;
  border-bottom-width: 2.5px;
  padding-left: 10em;
}

#filter-sharpsign {
  grid-row: 1;
  grid-column: 1;
  width: 1em;
}

#filter-historycount {
  width: 1em;
  text-align: center;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 2;
  grid-column: 1;
}

.filter-select {
  font-weight: 700;
}

.filter-description {
  grid-row: 1;
  display: flex;
}

.filter-icon {
  height: 1.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.filter-select {
  grid-row: 2;
}

.FilterHead {
  grid-column: 2;
}

.FilterUpperBody {
  grid-column: 3;
}

.FilterLowerBody {
  grid-column: 4;
}

.FilterAccessories {
  grid-column: 5;
}

.mode-button {
  border-radius: 12px;
  text-align: center;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  grid-row: 2;
  grid-column: 7;
}

#go-to-network-view {
  color: #150D26;
  background: #CEB8FF;
}

#go-to-artwalk-view {
  color: #242214;
  background: #FFE977;
}

#clear-all {
  color: #DB7070;
  text-align: center;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  grid-row: 2;
  grid-column: 8;
}

#artwalk-canvas {
  width: 100%;
  position: absolute;
}

